page-home {
    .logo {
        display: block;
        background: url(../../assets/imgs/qingtingfm-pink.png);
        width: 85px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .header-text {
        font-family: '华文行楷';
        font-size: 25px;
        width: 85px;
        height: 35px;
        line-height: 35px;
        color: #FF6060;
        padding-left: 3px;
    }
    .slide-img {
        width: 100%;
        height: 150px;
    }
    .category {
        position: relative;
        width: 55%;
        text-align: center;

        .category-item {
            width: 100% !important;
            font-size: 1em;
        }
        .swiper-slide-active {
            border-bottom: 2px solid #FF6060;
            .slide-zoom {
                color: #FF6060;
            }
        }
    }
    .content-list {
        ion-list-header ion-label {
            border-left: 3px solid #FF6060;
            padding-left: 10px;
        }
    }
}
